#!/usr/bin/env bash

# DO NOT ADD SECRET KEYS HERE
# This file is used to load environment variables from the .env file

# Load
if [ -f "./.env.local" ]; then
    dotenv ./.env.local
    # dotenv ./.env.test
else
    echo "ERROR: .env.local not found in the current directory." >&2
    cp .env.example .env.local
    echo "A new .env.local file has been created from .env.example. Please update it with your values."
    exit 1
fi

# Check if the required environment variables are set
required_vars=$(
    cat .env.example | grep -v '^#' | awk -F '=' '{print $1}' | tr '\n' ' '
)

for var in $required_vars; do
    if [ -z "${!var}" ]; then
        echo "ERROR: Required environment variable '$var' is not set." >&2
        exit 1
    fi
done
